@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
  outline: 0 none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  html:focus, body:focus, div:focus, span:focus, applet:focus, object:focus, iframe:focus,
  h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus,
  a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus,
  del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus,
  small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus,
  b:focus, u:focus, i:focus, center:focus,
  dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus,
  fieldset:focus, form:focus, label:focus, legend:focus,
  table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
  article:focus, aside:focus, canvas:focus, details:focus, embed:focus,
  figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus,
  menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus,
  time:focus, mark:focus, audio:focus, video:focus {
    outline: 0 none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: 0 none;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.5em;
  border: 0;
  padding: inherit;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit; }

img {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'apercu';
  src: url("/fonts/apercu/Apercu.eot");
  src: local("☺"), url("/fonts/apercu/Apercu.woff") format("woff"), url("/fonts/apercu/Apercu.ttf") format("truetype"), url("/fonts/apercu/Apercu.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'apercu-bold';
  src: url("/fonts/apercu/Apercu-Bold.eot");
  src: local("☺"), url("/fonts/apercu/Apercu-Bold.woff") format("woff"), url("/fonts/apercu/Apercu-Bold.ttf") format("truetype"), url("/fonts/apercu/Apercu-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'apercu-light';
  src: url("/fonts/apercu/Apercu-Light.eot");
  src: local("☺"), url("/fonts/apercu/Apercu-Light.woff") format("woff"), url("/fonts/apercu/Apercu-Light.ttf") format("truetype"), url("/fonts/apercu/Apercu-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.content {
  position: relative;
  padding-top: 4.0625rem; }

.text-wrapper {
  position: relative;
  height: 100vw;
  width: 100%;
  background: white; }
  @media (min-width: 768px) {
    .text-wrapper {
      height: 25vw;
      width: 100%; } }
  .text-wrapper__copy {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    font-family: 'apercu-bold';
    font-size: 1.875rem;
    line-height: 2.3125rem;
    color: black;
    text-align: center; }
    @media (min-width: 768px) {
      .text-wrapper__copy {
        font-size: 1.5625rem;
        line-height: 2rem; } }
    .text-wrapper__copy span {
      display: block; }
      @media (min-width: 768px) {
        .text-wrapper__copy span {
          display: inline; } }

.two-columns::after {
  clear: both;
  content: "";
  display: table; }

.two-columns__first {
  height: 50vh;
  width: 100%; }
  @media (min-width: 768px) {
    .two-columns__first {
      float: left;
      height: 50vw;
      width: 50%; } }

.two-columns__second {
  height: 50vh;
  width: 100%; }
  @media (min-width: 768px) {
    .two-columns__second {
      float: left;
      height: 50vw;
      width: 50%; } }

.four-columns::after {
  clear: both;
  content: "";
  display: table; }

.four-columns__box {
  float: left;
  height: 50vw;
  width: 50%; }
  @media (min-width: 768px) {
    .four-columns__box {
      height: 25vw;
      width: 25%; } }
  .four-columns__box:nth-child(3) {
    float: right; }
    @media (min-width: 768px) {
      .four-columns__box:nth-child(3) {
        float: left; } }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  height: 4.0625rem;
  width: 100%; }
  .main-header__wrapper {
    height: 100%;
    width: 100%;
    padding: 0 2.5rem;
    background: white;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out; }
    .main-header__wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .main-header__lg {
    float: left;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1.0625rem;
    width: 2.3125rem;
    background: black; }
  .main-header__hamb {
    float: right;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1.0625rem;
    width: 1.0625rem; }
    .main-header__hamb:before {
      content: "";
      display: block;
      position: absolute;
      position: absolute;
      top: 0.3125rem;
      height: 0.0625rem;
      width: 1.0625rem;
      background: black;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .main-header__hamb:after {
      content: "";
      display: block;
      position: absolute;
      top: 0.6875rem;
      left: 0.4375rem;
      height: 0.0625rem;
      width: 0.625rem;
      background: black;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .main-header__hamb--open:after {
      width: 1.0625rem;
      left: 0;
      top: 0.3125rem;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .main-header__hamb--open:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.footer-content::after {
  clear: both;
  content: "";
  display: table; }

@media (min-width: 768px) {
  .footer-content {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem; } }

.footer-content__data {
  float: left;
  position: relative;
  height: 50vw;
  width: 50%; }
  @media (min-width: 768px) {
    .footer-content__data {
      height: auto;
      width: 16.66%; } }
  .footer-content__data__wrapper {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (min-width: 768px) {
      .footer-content__data__wrapper {
        position: static;
        top: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
  .footer-content__data__title {
    padding-bottom: 1.25rem;
    font-family: 'apercu-bold';
    font-size: 1.4375rem;
    color: #d4e6fc; }
    @media (min-width: 768px) {
      .footer-content__data__title {
        font-size: 1.3125rem; } }
  .footer-content__data__text {
    padding-bottom: 0.3125rem;
    font-family: 'apercu';
    font-size: 0.9375rem;
    color: #3e3e3e; }
    @media (min-width: 768px) {
      .footer-content__data__text {
        font-size: 0.8125rem; } }
  .footer-content__data--contact {
    float: none;
    clear: both;
    height: auto;
    width: auto; }
    @media (min-width: 768px) {
      .footer-content__data--contact {
        float: left;
        clear: none; } }
    .footer-content__data--contact .footer-content__data__title {
      display: none; }
      @media (min-width: 768px) {
        .footer-content__data--contact .footer-content__data__title {
          display: block; } }
    .footer-content__data--contact .footer-content__data__text {
      padding-bottom: 0.0625rem; }
      .footer-content__data--contact .footer-content__data__text a {
        display: block;
        height: 6.25rem;
        width: 100%;
        background: #d4e6fc;
        font-family: 'apercu-bold';
        font-size: 1.4375rem;
        line-height: 6.25rem;
        color: #3e3e3e;
        text-align: center; }
        @media (min-width: 768px) {
          .footer-content__data--contact .footer-content__data__text a {
            height: auto;
            width: auto;
            background: transparent;
            font-family: 'apercu';
            font-size: 0.8125rem;
            line-height: inherit;
            text-align: left; } }
      @media (min-width: 768px) {
        .footer-content__data--contact .footer-content__data__text {
          padding-bottom: 0.3125rem; } }
  @media (min-width: 768px) {
    .footer-content__data:first-child {
      width: 25%; } }
  .footer-content__data:first-child .footer-content__data__wrapper {
    padding-left: 2.5rem; }
    @media (min-width: 768px) {
      .footer-content__data:first-child .footer-content__data__wrapper {
        padding-left: 33.33%; } }

.footer-content__copy {
  height: 6.25rem;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .footer-content__copy {
      float: right;
      height: auto;
      width: auto;
      padding-right: 8.3%; } }
  .footer-content__copy__text {
    font-family: 'apercu';
    font-size: 0.75rem;
    line-height: 6.25rem;
    color: #3e3e3e; }
    @media (min-width: 768px) {
      .footer-content__copy__text {
        line-height: inherit; } }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  background: rgba(210, 229, 252, 0.95);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .main-nav__wrapper {
    position: relative;
    height: 100%;
    width: 100%; }
  .main-nav__items {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem; }
    .main-nav__items__link {
      padding-bottom: 1.25rem;
      text-align: right; }
      .main-nav__items__link a {
        font-family: 'apercu-bold';
        font-size: 1.25rem;
        color: black;
        -webkit-transition: color 0.3s ease-in;
        -moz-transition: color 0.3s ease-in;
        transition: color 0.3s ease-in; }
        @media (min-width: 768px) {
          .main-nav__items__link a:hover {
            color: white; } }
        .main-nav__items__link a.active {
          color: white; }
      .main-nav__items__link:last-child {
        padding-bottom: 0; }

.menu-is-open .main-header {
  z-index: 1002; }
  .menu-is-open .main-header__wrapper {
    background: transparent; }

.menu-is-open .main-nav {
  opacity: 1;
  pointer-events: inherit; }

@media (min-width: 768px) {
  .layout__homepage .main-nav {
    width: 50%;
    left: inherit;
    right: 0; } }

.herospace__main {
  position: relative;
  height: calc(100vh - 175px);
  width: 100%;
  padding: 2.5rem;
  background: white; }
  @media (min-width: 768px) {
    .herospace__main {
      height: calc(50vw - 50px);
      width: 100%; } }
  .herospace__main__data {
    display: none; }
    .herospace__main__data__item {
      padding-bottom: 0.3125rem;
      font-family: 'apercu';
      font-size: 0.75rem; }
    @media (min-width: 768px) {
      .herospace__main__data {
        display: block; } }
  .herospace__main__title {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    font-family: 'apercu';
    font-size: 1.375rem;
    line-height: 1.6875rem; }
    @media (min-width: 768px) {
      .herospace__main__title {
        bottom: 4.375rem;
        max-width: 37.5rem; } }
    @media (min-width: 1280px) {
      .herospace__main__title {
        font-size: 2.5rem;
        line-height: 3.125rem; } }
    .herospace__main__title strong {
      font-family: 'apercu-bold'; }
  .herospace__main__icon {
    display: none;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    height: 0.625rem;
    width: 1.375rem;
    background: black; }
    @media (min-width: 768px) {
      .herospace__main__icon {
        display: block; } }

.sticky-text {
  position: absolute;
  bottom: -6.875rem;
  left: 0;
  z-index: 1001;
  height: 6.875rem;
  width: 100%;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  text-align: center; }
  @media (min-width: 768px) {
    .sticky-text {
      display: none; } }
  .sticky-text--hide {
    opacity: 0; }
  .sticky-text__copy {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 1.5625rem;
    font-family: 'apercu-bold';
    font-size: 1.125rem;
    color: white; }
    .sticky-text__copy:before {
      content: "";
      display: block;
      height: 0.9375rem;
      width: 0.9375rem;
      position: absolute;
      top: 2.1875rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: white; }

.work__box {
  position: relative;
  height: 100%;
  width: 100%; }
  .work__box__wrapper {
    display: block;
    height: 100%;
    width: 100%; }
    .work__box__wrapper:hover .work__box__content {
      opacity: 1;
      pointer-events: inherit; }
  .work__box__image {
    height: 100%;
    width: 100%; }
    .work__box__image img {
      height: auto;
      width: 100%; }
  .work__box__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    background: rgba(212, 230, 252, 0.8);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    .work__box__content__copy {
      position: absolute;
      bottom: 2.5rem;
      left: 2.5rem;
      font-family: 'apercu-bold';
      font-size: 1rem;
      line-height: 1.25rem; }
      @media (min-width: 768px) {
        .work__box__content__copy {
          font-size: 1.25rem;
          line-height: 1.5625rem; } }

@media (min-width: 768px) {
  .box-team {
    float: left;
    height: 25vw;
    width: 50%; }
    .box-team::after {
      clear: both;
      content: "";
      display: table; } }

.box-team__image {
  position: relative;
  height: 100vw;
  width: 100%; }
  @media (min-width: 768px) {
    .box-team__image {
      float: left;
      height: 100%;
      width: 50%; } }
  .box-team__image img {
    height: auto;
    width: 100%; }
  .box-team__image__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(40, 40, 40, 0.8);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in; }
    .box-team__image__wrapper__list {
      position: absolute;
      bottom: 2.5rem;
      left: 2.5rem; }
      .box-team__image__wrapper__list__item {
        padding-bottom: 0.3125rem; }
        .box-team__image__wrapper__list__item a {
          font-family: 'apercu-bold';
          font-size: 1.125rem;
          color: white; }
          @media (min-width: 768px) {
            .box-team__image__wrapper__list__item a {
              font-size: 1rem; } }

.box-team__content {
  position: relative;
  height: 100vw;
  width: 100%;
  padding: 2.5rem;
  background: #3e3e3e; }
  @media (min-width: 768px) {
    .box-team__content {
      float: left;
      height: 100%;
      width: 50%; } }
  .box-team__content__title {
    font-family: 'apercu-bold';
    font-size: 1.125rem;
    color: white; }
    @media (min-width: 768px) {
      .box-team__content__title {
        font-size: 0.875rem; } }
  .box-team__content__rol {
    display: block;
    padding: 0.3125rem 0;
    font-family: 'apercu-light';
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.4); }
    @media (min-width: 768px) {
      .box-team__content__rol {
        font-size: 0.875rem; } }
  .box-team__content__link {
    font-family: 'apercu';
    font-size: 1.125rem;
    color: white; }
    @media (min-width: 768px) {
      .box-team__content__link {
        font-size: 0.875rem; } }
  .box-team__content__desc {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    height: auto;
    width: 60%;
    font-family: 'apercu-light';
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.4); }
    @media (min-width: 768px) {
      .box-team__content__desc {
        font-size: 0.625rem;
        line-height: 0.75rem; } }

.box-team:hover .box-team__image__wrapper {
  opacity: 1;
  pointer-events: inherit; }

.box-instagram {
  height: 100%;
  width: 100%; }
  .box-instagram img {
    height: auto;
    width: 100%; }

.box-twitter {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  background-repeat: none;
  background-position: center;
  background-size: cover; }
  .box-twitter__title {
    font-family: 'apercu';
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: white; }
    @media (min-width: 1024px) {
      .box-twitter__title {
        font-size: 1.25rem;
        line-height: 1.5625rem; } }
  .box-twitter__data {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem; }
  .box-twitter__time {
    display: block;
    font-family: 'apercu';
    font-size: 0.75rem;
    color: white; }
  .box-twitter__link {
    font-family: 'apercu';
    font-size: 0.75rem;
    color: white; }

.box-static {
  height: 100%;
  width: 100%; }
  .box-static img {
    height: auto;
    width: 100%; }

@media (min-width: 768px) {
  .homepage::after {
    clear: both;
    content: "";
    display: table; } }

.homepage__main {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  padding: 2.5rem;
  background: white; }
  @media (min-width: 768px) {
    .homepage__main {
      float: right;
      height: 100vh;
      width: 50%; } }
  .homepage__main__data {
    display: none;
    padding-top: 2.8125rem; }
    .homepage__main__data__item {
      padding-bottom: 0.3125rem;
      font-family: 'apercu';
      font-size: 0.75rem; }
    @media (min-width: 768px) {
      .homepage__main__data {
        display: block; } }
  .homepage__main__title {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    max-width: 15.625rem;
    font-family: 'apercu';
    font-size: 1.375rem;
    line-height: 1.6875rem; }
    @media (min-width: 768px) {
      .homepage__main__title {
        bottom: 4.375rem; } }
    @media (min-width: 1280px) {
      .homepage__main__title {
        max-width: 28.125rem;
        font-size: 2.5rem;
        line-height: 3.125rem; } }
    .homepage__main__title strong {
      display: block;
      font-family: 'apercu-bold'; }
  .homepage__main__icon {
    display: none;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    height: 0.625rem;
    width: 1.375rem;
    background: black; }
    @media (min-width: 768px) {
      .homepage__main__icon {
        display: block; } }

.homepage__slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%; }
  @media (min-width: 768px) {
    .homepage__slider {
      float: left;
      height: 100vh;
      width: 50%; } }
  .homepage__slider__images {
    height: 100%;
    width: 100%; }
    .homepage__slider__images__item {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .homepage__slider img {
    height: 100%;
    width: auto;
    max-width: inherit; }
    @media (min-width: 768px) {
      .homepage__slider img {
        height: auto;
        width: 100%; } }
  .homepage__slider__slides {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem; }
    .homepage__slider__slides__item {
      display: none; }
      @media (min-width: 768px) {
        .homepage__slider__slides__item {
          display: block;
          padding-bottom: 0.5rem; } }
      @media (min-width: 768px) {
        .homepage__slider__slides__item:last-child {
          padding-bottom: 0rem; } }
      .homepage__slider__slides__item a {
        font-family: 'apercu-bold';
        font-size: 0.875rem;
        color: rgba(0, 0, 0, 0.3);
        -webkit-transition: color 0.3s ease-in;
        -moz-transition: color 0.3s ease-in;
        transition: color 0.3s ease-in; }
        @media (min-width: 768px) {
          .homepage__slider__slides__item a:hover {
            color: #d4e6fc; } }
      .homepage__slider__slides__item--active {
        display: block; }
        .homepage__slider__slides__item--active a {
          color: #d4e6fc; }
  .homepage__slider__actions {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem; }
    .homepage__slider__actions__prev {
      float: left;
      display: block;
      height: 1rem;
      width: 1rem; }
      .homepage__slider__actions__prev:before {
        content: "";
        display: block;
        height: 1rem;
        width: 1rem;
        background: #d4e6fc; }
    .homepage__slider__actions__next {
      float: left;
      display: block;
      height: 1rem;
      width: 1rem; }
      .homepage__slider__actions__next:before {
        content: "";
        display: block;
        height: 1rem;
        width: 1rem;
        background: #d4e6fc; }
    .homepage__slider__actions__actual {
      float: left;
      position: relative;
      top: 0.0625rem;
      padding: 0 0.9375rem;
      font-family: 'apercu-bold';
      font-size: 0.6875rem;
      color: white; }
      .homepage__slider__actions__actual span {
        display: inline-block;
        margin-left: 1.25rem;
        padding-left: 1.25rem;
        color: rgba(255, 255, 255, 0.2); }
        .homepage__slider__actions__actual span:before {
          content: "";
          display: block;
          position: relative;
          top: 0.375rem;
          left: -1.25rem;
          height: 0.1875rem;
          width: 0.1875rem;
          border-radius: 100%;
          background: white; }

@media (min-width: 768px) {
  .layout__homepage .main-header__wrapper {
    background: transparent; } }

.layout__homepage .content {
  padding-top: 0; }

@media (min-width: 768px) {
  .layout__homepage .main-header {
    height: 4.0625rem;
    width: 50%;
    top: 0.625rem;
    left: inherit;
    right: 0; } }

@media (min-width: 768px) {
  .layout__homepage .footer-content {
    display: none; } }

.two-columns--about .two-columns__first {
  overflow: hidden; }
  .two-columns--about .two-columns__first img {
    height: auto;
    width: 100%; }

.two-columns--about .two-columns__second {
  position: relative;
  background: #d4e6fc; }
  .two-columns--about .two-columns__second p {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
    font-family: 'apercu-bold';
    font-size: 1.5625rem;
    line-height: 1.9375rem;
    color: black;
    text-align: right; }
    @media (min-width: 768px) {
      .two-columns--about .two-columns__second p {
        font-size: 1.875rem;
        line-height: 2.3125rem; } }

.text-wrapper--about {
  height: 100vw;
  width: 100%; }
  @media (min-width: 768px) {
    .text-wrapper--about {
      height: 50vw;
      width: 100%; } }
  .text-wrapper--about .text-wrapper__copy {
    font-size: 1.5625rem;
    line-height: 2rem; }

.about__wrapper__image {
  height: 25vw;
  width: 100%;
  background: url("/images/about-room.jpg") center center no-repeat;
  background-size: cover; }

.about__wrapper__list {
  height: 100vw;
  width: 100%;
  background: #3e3e3e; }
  @media (min-width: 768px) {
    .about__wrapper__list {
      height: 25vw;
      width: 100%; } }

.about__wrapper__slider::after {
  clear: both;
  content: "";
  display: table; }

.about__wrapper__slider__item {
  float: left;
  position: relative;
  height: 25vw;
  width: auto;
  box-sizing: border-box; }
  .about__wrapper__slider__item__content {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .about__wrapper__slider__item__title {
    padding-bottom: 0.9375rem;
    font-family: 'apercu-bold';
    font-size: 1.625rem;
    color: #d4e6fc; }
  .about__wrapper__slider__item__desc {
    font-family: 'apercu';
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    color: white; }

.about__wrapper__slider--small {
  height: 100%;
  width: 100%; }
  .about__wrapper__slider--small .slick-slider {
    margin: 0;
    height: 100%;
    width: 100%; }
  .about__wrapper__slider--small .slick-list {
    height: 100%;
    width: 100%; }
  .about__wrapper__slider--small .slick-dots {
    bottom: 2.5rem; }
    .about__wrapper__slider--small .slick-dots li {
      height: 1.25rem;
      width: 0.9375rem;
      padding: 0;
      -webkit-transition: background 0.3s ease-in;
      -moz-transition: background 0.3s ease-in;
      transition: background 0.3s ease-in; }
      .about__wrapper__slider--small .slick-dots li button {
        height: 1.25rem;
        width: 0.9375rem;
        padding: 0;
        -webkit-transition: background 0.3s ease-in;
        -moz-transition: background 0.3s ease-in;
        transition: background 0.3s ease-in; }
        .about__wrapper__slider--small .slick-dots li button:before {
          content: "";
          top: 0.5625rem;
          height: 0.125rem;
          width: 0.9375rem;
          background: #6b6b6b;
          opacity: 1;
          -webkit-transition: opacity 0.2s ease-in;
          -moz-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in; }
        .about__wrapper__slider--small .slick-dots li button:hover {
          background: white; }
          .about__wrapper__slider--small .slick-dots li button:hover:before {
            opacity: 0; }
      .about__wrapper__slider--small .slick-dots li.slick-active {
        background: white; }
        .about__wrapper__slider--small .slick-dots li.slick-active button:before {
          opacity: 0;
          pointer-events: none; }
  .about__wrapper__slider--small .about__wrapper__slider__item {
    height: 100vw;
    width: 100%; }
    .about__wrapper__slider--small .about__wrapper__slider__item .about__wrapper__slider__item__content {
      text-align: center; }

.about__wrapper__slider--big .about__wrapper__slider__item {
  width: 25%; }
  .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(1) .about__wrapper__slider__item__content {
    padding-left: 33.33%; }
  .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(2) {
    width: 50%;
    text-align: center; }
    .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(2) .about__wrapper__slider__item__content:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 3.75rem;
      height: 6.125rem;
      width: 0.0625rem;
      background: rgba(255, 255, 255, 0.2); }
    .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(2) .about__wrapper__slider__item__content:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 3.75rem;
      height: 6.125rem;
      width: 0.0625rem;
      background: rgba(255, 255, 255, 0.2); }
  .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(3) {
    text-align: right; }
    .about__wrapper__slider--big .about__wrapper__slider__item:nth-child(3) .about__wrapper__slider__item__content {
      padding-right: 33.33%; }

.work-list::after {
  clear: both;
  content: "";
  display: table; }

.work-list .work__box {
  float: left;
  height: 50vw;
  width: 50%; }

@media (min-width: 768px) {
  .team-list::after {
    clear: both;
    content: "";
    display: table; } }

@media (min-width: 768px) {
  .team-list .box-team:nth-child(1) .box-team__image, .team-list .box-team:nth-child(2) .box-team__image, .team-list .box-team:nth-child(5) .box-team__image, .team-list .box-team:nth-child(6) .box-team__image, .team-list .box-team:nth-child(9) .box-team__image, .team-list .box-team:nth-child(10) .box-team__image, .team-list .box-team:nth-child(13) .box-team__image, .team-list .box-team:nth-child(14) .box-team__image {
    float: right; } }

.two-columns--contact .two-columns__first #mega-map {
  height: 50vh;
  width: 100%;
  pointer-events: none; }
  @media (min-width: 768px) {
    .two-columns--contact .two-columns__first #mega-map {
      height: 50vw;
      width: 100%; } }

.two-columns--contact .two-columns__second {
  background: url("/images/contact-image.jpg") center center no-repeat;
  background-size: cover; }

/*# sourceMappingURL=dift.css.map */